on: [push]

jobs:
  build:
    name: build (${{ matrix.os }})
    strategy:
      matrix:
        include:
          - os: centos-7
            label: linux-x64
            container: quay.io/pypa/manylinux2014_x86_64
          - os: macos-14
            label: macos-arm64
          - os: macos-latest
            label: macos-x64
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    steps:
      - name: Install nodejs v20
        if: ${{ matrix.os == 'centos-7' }}
        run: yum install nodejs20
        
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run make
        run: make

      - name: Add execute permission
        run: chmod +x ./flexiplex

      - name: Tar files
        run: tar -cvf ./result.tar ./flexiplex

      - name: Get short SHA
        id: vars
        run: git config --global --add safe.directory '*' && echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Save artifacts
        uses: actions/upload-artifact@v3
        with:
          name: build-${{ steps.vars.outputs.sha_short }}-${{ matrix.label }}
          path: ./result.tar
          retention-days: 90
